@import "./variables.scss";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

body,
html {
   height: 100%;
   font-family: $font-primary;
   overflow: auto;
   position: relative;
   z-index: -3;
}

.section-container {
   position: relative;
   z-index: -2;
   height: calc(100vh - #{$navbar-height});

   section:not(.home) {
      min-height: 600px;
   }

   .section-title {
      color: $clr-text-primary;
      text-align: center;
      font-variant: small-caps;
      font-weight: 600;
      letter-spacing: 0.4rem;
      font-size: 3rem;
      padding-top: 10rem;
      padding-bottom: 2rem;

      @media(max-width: 992px) {
         letter-spacing: 0.2rem;
         padding-top: 8rem;
         padding-bottom: 5rem;
      }

      @media(max-width: 600px) {
         font-size: 2.5rem;
         padding-top: 6rem;
         padding-bottom: 3rem;
      }

      @media(max-width: 420px) {
         font-size: 2rem;
      }
   }
}