@import "./variables.scss";

$bottom-bar-text-align: left;
$mfp-close-dimensions: calc(40px + 4vw);

.mfp-close {
   font-size: 5.5rem;
   padding: 0 !important;
   height: $mfp-close-dimensions;
   font-weight: 500 !important;
   width: $mfp-close-dimensions;
   color: white !important;
}

.mfp-img {
   padding-bottom: 60px !important;
   max-height: 70vh;
   user-select: none;
}

.mfp-figure {
   @include flex-center;

   &::after {
      background: transparent !important;
      box-shadow: none !important;
   }
}

.mfp-arrow {
   &::before {
      border-top-width: 30px;
      border-bottom-width: 30px;
      top: -9px;
   }

   &::after {
      border-top-width: 21px;
      border-bottom-width: 21px;
      top: 0px;
   }

   &-left {
      left: 3vw;
   }

   &-left::before {
      border-right: 35px solid #111;
   }

   &-left::after {
      border-right: 25px solid #FFF;
   }

   &-right {
      right: 3vw;
   }

   &-right::after {
      border-left: 25px solid #FFF;
   }

   &-right::before {
      border-left: 35px solid #111;
   }
}

.mfp-content {
   position: static;
}

.mfp-custom {
   display: inline-block;
   position: relative;
   min-width: 300px;

   .mfp-bottom-bar {
      display: flex;
      flex-direction: column;
      color: #f3f3f3;
      text-align: $bottom-bar-text-align;
      line-height: normal;
      margin-top: -40px;
      margin-bottom: 5rem;
      opacity: 0;
      animation: fadein 300ms forwards;

      .mfp-counter {
         display: none;
      }

      .mfp-title {
         text-align: center;
         padding: 0;
         color: inherit;
         text-align: inherit;
         line-height: normal;
         font-size: 1.8rem;
      }

      .mfp-description {
         display: flex;
         flex-direction: column;
         color: inherit;
         height: auto;
         line-height: 1.3em;
         padding-top: 0.2em;
         text-align: inherit;
      }
   }

   .mfp-additional-content {
      line-height: normal;
   }
}



@media(max-width: 900px) {
   .mfp-custom {
      min-width: 95vw;
   }

   .mfp-close {
      font-size: 4rem;
   }

   .mfp-arrow {
      transform: scale(0.85);
   }

   .mfp-arrow-left {
      transform-origin: 0px 55px;
      left: 0;
   }

   .mfp-arrow-right {
      transform-origin: 0px 55px;
      right: 0;
   }

}