@import "./variables.scss";

/*****************
1. TOGGLER
2. LOGO
3. NAVLINKS
*****************/

.navbar {
   user-select: none;
   position: relative;
   z-index: auto;
   height: 60px;
   box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 calc(20px + 5vw);
   color: $clr-text-primary;
   background: $nav-bg;

   @media (max-width:1024px) {
      height: 50px;
      box-shadow: none;
   }

   @media (max-width:360px) {
      padding: 0 24px;
   }

   /*************
      TOGGLER
   *************/
   &-toggler {
      height: 50px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: none;
      border: none;
      color: inherit;
      transform: scale(0);

      >[class*="burger"] {
         pointer-events: none;
         height: 21px;
         width: 30px;

      }

      @media (max-width:1024px) {
         transform: none;
      }
   }

   /*************
      LOGO
   *************/
   &-logo {
      transition-property: opacity, transform;
      transition-duration: 700ms;
      font-weight: 600;
      opacity: 1;
      transform: translateX(0);
      font-size: 1.3rem;
      letter-spacing: 1px;

      &.hidden {
         opacity: 0;
         transform: scale(0.9) translateX(-10px);
      }

      @media (max-width: 600px) {
         white-space: nowrap;
         transition-property: font-size, transform, letter-spacing;
         transition-duration: 150ms;
         font-size: 1rem;

         &.hidden {
            font-size: 0.4rem;
            letter-spacing: 10px;
            opacity: 1;
         }
      }
   }

   /*************
      NAVLINKS
   *************/
   &-navlinks {
      display: flex;
      list-style: none;


      @media (max-width:1024px) {
         top: 100%;
         display: flex;
         flex-direction: column;
         position: absolute;
         z-index: -1;
         width: 100%;
         left: 0;
         overflow: hidden;
         transition: transform 600ms;
         background: $nav-bg;
         box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.2);
         transform: translateY(-1px);

         &.collapse {
            transform: translateY(-100%);
         }
      }

      &__link {
         color: #777;
         letter-spacing: 0.5px;
         margin-left: 0.6rem;
         font-weight: 700;
         border-radius: 12px;
         font-size: 0.9rem;
         font-family: $font-primary;
         padding: 0.55rem 1.1rem 0.5rem 1.1rem;
         text-decoration: none;
         display: block;

         @media (max-width: 1024px) {
            padding: 0.8rem 2rem;
            border-radius: 0;
            margin: 0;
            font-size: 1.1rem;
         }

         &.active {
            color: $orange;
            background: none !important;
         }

         &:hover {
            box-shadow: 0 0 0 1px #ddd !important;
         }

         &:focus {
            box-shadow: 0 0 0 1px #ffbb3b !important;
            outline: none;
            background: none !important;
            color: $orange;

            @media (max-width:1024px) {
               box-shadow: none;
               background: rgba(0, 0, 0, 0.05)
            }
         }

         @media (min-width: 1024px) {
            &[href="#contact"] {
               box-shadow: 0 0 0 1px #A7A7A6;
            }
         }
      }
   }
}