@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #444;
}

.home-title svg {
  max-width: 100%;
  fill: transparent;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .home-title svg {
    fill: currentColor;
  }
}

.home-title div:nth-child(1) {
  width: 100%;
  padding: 0 40vw 0 30vw;
  margin-bottom: 5vh;
}

@media (max-width: 1400px) {
  .home-title div:nth-child(1) {
    padding: 0 35vw 0 25vw;
  }
}

@media (max-width: 1100px) {
  .home-title div:nth-child(1) {
    padding: 0;
    width: 50%;
    margin-bottom: 0;
  }
}

.home-title div:nth-child(1) path:nth-child(1) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 200ms forwards, fillin 5000ms 2200ms forwards;
          animation: strokein 3000ms 200ms forwards, fillin 5000ms 2200ms forwards;
}

.home-title div:nth-child(1) path:nth-child(2) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 400ms forwards, fillin 5000ms 2400ms forwards;
          animation: strokein 3000ms 400ms forwards, fillin 5000ms 2400ms forwards;
}

.home-title div:nth-child(1) path:nth-child(3) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 600ms forwards, fillin 5000ms 2600ms forwards;
          animation: strokein 3000ms 600ms forwards, fillin 5000ms 2600ms forwards;
}

.home-title div:nth-child(1) path:nth-child(4) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 800ms forwards, fillin 5000ms 2800ms forwards;
          animation: strokein 3000ms 800ms forwards, fillin 5000ms 2800ms forwards;
}

.home-title div:nth-child(1) path:nth-child(5) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 1000ms forwards, fillin 5000ms 3000ms forwards;
          animation: strokein 3000ms 1000ms forwards, fillin 5000ms 3000ms forwards;
}

.home-title div:nth-child(1) path:nth-child(6) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 1200ms forwards, fillin 5000ms 3200ms forwards;
          animation: strokein 3000ms 1200ms forwards, fillin 5000ms 3200ms forwards;
}

.home-title div:nth-child(1) path:nth-child(7) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 1400ms forwards, fillin 5000ms 3400ms forwards;
          animation: strokein 3000ms 1400ms forwards, fillin 5000ms 3400ms forwards;
}

.home-title div:nth-child(1) path:nth-child(8) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 1600ms forwards, fillin 5000ms 3600ms forwards;
          animation: strokein 3000ms 1600ms forwards, fillin 5000ms 3600ms forwards;
}

.home-title div:nth-child(1) path:nth-child(9) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 1800ms forwards, fillin 5000ms 3800ms forwards;
          animation: strokein 3000ms 1800ms forwards, fillin 5000ms 3800ms forwards;
}

.home-title div:nth-child(1) path:nth-child(10) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 2000ms forwards, fillin 5000ms 4000ms forwards;
          animation: strokein 3000ms 2000ms forwards, fillin 5000ms 4000ms forwards;
}

.home-title div:nth-child(1) path:nth-child(11) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 2200ms forwards, fillin 5000ms 4200ms forwards;
          animation: strokein 3000ms 2200ms forwards, fillin 5000ms 4200ms forwards;
}

.home-title div:nth-child(1) path:nth-child(12) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 2400ms forwards, fillin 5000ms 4400ms forwards;
          animation: strokein 3000ms 2400ms forwards, fillin 5000ms 4400ms forwards;
}

.home-title div:nth-child(1) path:nth-child(13) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 2600ms forwards, fillin 5000ms 4600ms forwards;
          animation: strokein 3000ms 2600ms forwards, fillin 5000ms 4600ms forwards;
}

.home-title div:nth-child(1) path:nth-child(14) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: strokein 3000ms 2800ms forwards, fillin 5000ms 4800ms forwards;
          animation: strokein 3000ms 2800ms forwards, fillin 5000ms 4800ms forwards;
}

.home-title div:nth-child(2) {
  width: 100%;
  margin-top: 5vh;
  padding: 0 32vw 5vh 50vw;
}

@media (max-width: 1400px) {
  .home-title div:nth-child(2) {
    padding: 0 28vw 5vh 47vw;
  }
}

@media (max-width: 600px) {
  .home-title div:nth-child(2) {
    padding: 0 0 5vh 0;
    width: 30%;
    margin-top: 1rem;
  }
}

@media (max-width: 1100px) {
  .home-title div:nth-child(2) {
    padding: 0 0 5vh 0;
    width: 30%;
    margin-top: 3rem;
  }
}

.home-title div:nth-child(2) path:nth-child(1) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 1700ms forwards, fillin 5000ms 3320ms forwards;
          animation: strokein 3000ms 1700ms forwards, fillin 5000ms 3320ms forwards;
}

.home-title div:nth-child(2) path:nth-child(2) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 1900ms forwards, fillin 5000ms 3440ms forwards;
          animation: strokein 3000ms 1900ms forwards, fillin 5000ms 3440ms forwards;
}

.home-title div:nth-child(2) path:nth-child(3) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 2100ms forwards, fillin 5000ms 3560ms forwards;
          animation: strokein 3000ms 2100ms forwards, fillin 5000ms 3560ms forwards;
}

.home-title div:nth-child(2) path:nth-child(4) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 2300ms forwards, fillin 5000ms 3680ms forwards;
          animation: strokein 3000ms 2300ms forwards, fillin 5000ms 3680ms forwards;
}

.home-title div:nth-child(2) path:nth-child(5) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 2500ms forwards, fillin 5000ms 3800ms forwards;
          animation: strokein 3000ms 2500ms forwards, fillin 5000ms 3800ms forwards;
}

.home-title div:nth-child(2) path:nth-child(6) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 2700ms forwards, fillin 5000ms 3920ms forwards;
          animation: strokein 3000ms 2700ms forwards, fillin 5000ms 3920ms forwards;
}

.home-title div:nth-child(2) path:nth-child(7) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 2900ms forwards, fillin 5000ms 4040ms forwards;
          animation: strokein 3000ms 2900ms forwards, fillin 5000ms 4040ms forwards;
}

.home-title div:nth-child(2) path:nth-child(8) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 3100ms forwards, fillin 5000ms 4160ms forwards;
          animation: strokein 3000ms 3100ms forwards, fillin 5000ms 4160ms forwards;
}

.home-title div:nth-child(2) path:nth-child(9) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 3300ms forwards, fillin 5000ms 4280ms forwards;
          animation: strokein 3000ms 3300ms forwards, fillin 5000ms 4280ms forwards;
}

.home-title div:nth-child(2) path:nth-child(10) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 3500ms forwards, fillin 5000ms 4400ms forwards;
          animation: strokein 3000ms 3500ms forwards, fillin 5000ms 4400ms forwards;
}

.home-title div:nth-child(2) path:nth-child(11) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 3700ms forwards, fillin 5000ms 4520ms forwards;
          animation: strokein 3000ms 3700ms forwards, fillin 5000ms 4520ms forwards;
}

.home-title div:nth-child(2) path:nth-child(12) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: strokein 3000ms 3900ms forwards, fillin 5000ms 4640ms forwards;
          animation: strokein 3000ms 3900ms forwards, fillin 5000ms 4640ms forwards;
}

@-webkit-keyframes strokein {
  70% {
    stroke-dashoffset: 0;
    stroke: #444;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #b7b7b7;
  }
}

@keyframes strokein {
  70% {
    stroke-dashoffset: 0;
    stroke: #444;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #b7b7b7;
  }
}

@-webkit-keyframes fillin {
  from {
    fill: transparent;
  }
  to {
    fill: #444;
  }
}

@keyframes fillin {
  from {
    fill: transparent;
  }
  to {
    fill: #444;
  }
}
