@import "./variables.scss";

.home-title {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     color: $clr-text-primary;

     svg {
          max-width: 100%;
          fill: transparent;

          @media all and (-ms-high-contrast: none),
          (-ms-high-contrast: active) {
               fill: currentColor;
          }
     }

     div:nth-child(1) {
          width: 100%;
          padding: 0 40vw 0 30vw;
          margin-bottom: 5vh;

          @media (max-width: 1400px) {
               padding: 0 35vw 0 25vw;
          }

          @media (max-width: 1100px) {
               padding: 0;
               width: 50%;
               margin-bottom: 0;
          }

          @for $i from 1 through 14 {
               path:nth-child(#{$i}) {
                    stroke-dasharray: 400;
                    stroke-dashoffset: 400;
                    animation: strokein 3000ms #{$i * 200ms} forwards,
                    fillin 5000ms #{$i * 200ms + 2000ms} forwards;
               }
          }
     }

     div:nth-child(2) {
          width: 100%;
          margin-top: 5vh;
          padding: 0 32vw 5vh 50vw;

          @media (max-width: 1400px) {
               padding: 0 28vw 5vh 47vw;
          }

          @media (max-width: 1100px) {
               padding: 0 0 5vh 0;
               width: 30%;
               margin-top: 3rem;
          }

          @media (max-width: 600px) {
               padding: 0 0 2vh 0 !important;
               width: 30%;
               margin-top: 1rem !important;
          }


          @for $i from 1 through 12 {
               path:nth-child(#{$i}) {
                    stroke-dasharray: 300;
                    stroke-dashoffset: 300;
                    animation: strokein 3000ms #{$i * 200ms + 1500ms} forwards,
                    fillin 5000ms #{$i * 120ms + 3200ms} forwards;
               }
          }
     }

     @keyframes strokein {
          70% {
               stroke-dashoffset: 0;
               stroke: $clr-text-primary;
          }

          100% {
               stroke-dashoffset: 0;
               stroke: #b7b7b7;
          }
     }

     @keyframes fillin {
          from {
               fill: transparent;
          }

          to {
               fill: $clr-text-primary;
          }
     }
}