$navbar-height: 60px;
$clr-text-primary: #4E4E4E;
$orange: #ffa500;
$beige: #F7F5F0;
$disabled: #ddd;

$font-primary: 'Raleway',
sans-serif;

@keyframes fadein {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}