$navbar-height: 60px;
$clr-title: #555;
$clr-text-primary: #666;
$clr-navlinks: #777;
$orange: #ffa500;
$beige: #fbfaf7;
$card-bg: #f7f6f1;
$disabled: #ddd;
$nav-bg: #fdfdfc;
$font-primary: 'Raleway',
sans-serif;

@keyframes fadein {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}

@mixin flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}