@import "./variables.scss";

.works {
     background: $beige;

     .custom-slider {
          position: relative;
          display: flex;
          justify-content: space-between;
          height: 45vmin;
          width: 80vw;
          overflow: hidden;
          margin: 8vmax auto;

          @media (max-width: 768px) {
               display: none;
          }

          @media (min-width: 1600px) {
               width: 65vw;
          }

          .custom-slider__images {
               position: relative;
               flex-grow: 1;
               overflow: hidden;
          }

          .slider-left-side,
          .slider-right-side {
               height: 100%;
               width: 15%;
               z-index: 101;
               display: flex;
               align-items: center;
               color: $clr-text-primary;

               &:hover {
                    color: $orange;
               }

               &.disabled {
                    color: $disabled;
               }

               &>div {
                    height: 8vmin;
                    width: 100%;
                    pointer-events: none;
               }
          }

          .slide-wrapper {
               position: absolute;
               height: 80%;
               width: 100%;
               top: 50%;
               left: 50%;
               transition: transform 300ms, left 300ms;
          }

          .slide-wrapper__sub {
               position: relative;
               height: 100%;
               width: 100%;
          }

          .slide {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               max-height: 100%;
               max-width: 100%;
          }

          .slide-link {
               position: absolute;
               display: block;
               top: 0;
               left: 0;
               height: 100%;
               width: 100%;
          }

          [alt="slide0"] {
               max-height: 100%;
          }

          .slide-wrapper.center {
               transform: translate(-50%, -50%);
          }

          .slide-wrapper.right {
               transform: translate(0, -50%) translateZ(-200px);
               left: 110%;
          }

          .slide-wrapper.left {
               transform: translate(-100%, -50%) translateZ(-200px);
               left: -10%;
          }
     }
}