@import "./variables.scss";

/*****************
1. Sliders
2. Cards
3. Hover effects
*****************/

.works {
   background: $beige;
   border-top: 1px solid #f7f6f2;

   .section__title {
      font-size: 3.7rem !important;
   }
}

/****************
      SLIDER
****************/
.works .custom-slider {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 33vw;
   width: 66vw;
   overflow: hidden;
   margin: 0 auto;

   @media (max-width: 992px) {
      display: none;
   }

   @media (max-width: 1600px) {
      height: 40vw;
      width: 80vw;
   }

   &__images {
      position: relative;
      flex-grow: 1;
      height: 100%;
      user-select: none;
   }

   &__arrow-right>svg,
   &__arrow-left>svg {
      margin: auto;
   }

   &__arrow-right,
   &__arrow-left {
      height: 20%;
      width: 15%;
      z-index: 101;
      display: flex;
      align-items: center;
      color: $clr-text-primary;
      border: none;
      background: none;

      &>svg {
         pointer-events: none;
         max-height: 100%;
      }

      &:hover,
      &:focus {
         color: $orange;
         outline: none;
      }

      &.disabled {
         color: $disabled;
      }

      &>div {
         height: 8vmin;
         width: 100%;
         pointer-events: none;
      }
   }

   .slide {
      &-link {
         @include flex-center;
         position: absolute;
         font-size: 1.5rem;
         letter-spacing: 0.2rem;
         text-decoration: none;
         color: #777;
         width: 100%;
         height: 70%;
         top: 50%;
         left: 50%;
         transition: transform 300ms, left 300ms;
         cursor: zoom-in;

         &.center {
            transform: translate(-50%, -50%);


            img {
               box-shadow: 70px 0 70px -30px rgba(0, 0, 0, 0.1),
                  -70px 0 70px -30px rgba(0, 0, 0, 0.1);
            }
         }

         &.right {
            transform: translate(55%, -50%);
            opacity: 0;
         }

         &.left {
            transform: translate(-155%, -50%);
            opacity: 0;
         }
      }

      &-img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         max-height: 100%;
         max-width: 100%;
      }
   }
}

/****************
   CARDS
****************/
.works .card {
   &-container {
      @include flex-center;
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto;
      padding: 0 calc(30px + 2vw);

      @media (max-width: 1200px) {
         width: 100%;
      }
   }

   &-link {
      position: relative;
      width: 230px;
      max-width: 270px;
      box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.4);
      flex-grow: 1;
      background: $card-bg;
      margin: 24px;
      transition: box-shadow 500ms;
      color: white;

      &>div {
         padding-top: 100%;
      }
   }

   &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 63%;
      max-width: 63%;
      opacity: 0.9;

      &__lg {
         max-width: 72%
      }

      &__ht {
         max-height: 72%
      }

      &__xl {
         max-width: 80%
      }

      &__xh {
         max-height: 80%
      }
   }
}

/****************
   HOVER EFFECTS
****************/

//Dark mask
.slide-link {
   &>.slide-img {
      transition: filter 500ms;
   }

   &:hover>.slide-img {
      filter: brightness(40%);
   }
}

.card-link {
   &::before {
      @include flex-center;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: opacity 500ms;
   }

   &:hover {
      box-shadow: 0 0 0 0 transparent;

      &::before {
         opacity: 1;
      }
   }
}

//lens icon
.card-link,
.slide-link {
   &::after {
      @include flex-center;
      position: absolute;
      content: url(./assets/lens.svg);
      top: 50%;
      left: 50%;
      z-index: 1;
      opacity: 0;
      transform: scale(0.85) translate(-55%, -55%);
      transition: opacity 500ms, transform 500ms;
   }

   &:hover {
      box-shadow: 0 0 0 0 transparent;

      &::after {
         opacity: 1;
         transform: scale(1) translate(-50%, -50%);
      }
   }
}

//card slider
.works .card {
   @media (max-width: 660px) {

      &-container {
         justify-content: flex-start;
         flex-wrap: nowrap;
         overflow-x: scroll;
         overflow-y: hidden;
      }

      &-link {
         flex-shrink: 0;
         width: 230px;
         max-width: 55vw;
         margin: 5vw;

         &:last-child::before {
            position: absolute;
            content: "";
            width: calc(30px + 15vw + 100%);
            left: 0;
            top: 0;
            height: 100%;
         }
      }
   }
}