@import "./styles/variables.scss";
@import "./styles/navbar.scss";
@import "./styles/home.scss";
@import "./styles/works.scss";

body,
html {
     height: 100%;
     font-family: $font-primary;
     overflow: auto;
}

.section-container {
     height: calc(100vh - #{$navbar-height});

     section:not(.home) {
          min-height: 600px;
          background: #F7F5F0;
     }

     .section-title {
          color: $clr-text-primary;
          text-align: center;
          font-variant: small-caps;
          font-weight: 500;
          letter-spacing: 0.4rem;
     }
}