@import "./styles/variables.scss";
@import "./styles/title";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body,
html {
     height: 100%;
}

.navbar {
     font-family: 'Raleway', sans-serif;
     height: $navbar-height;
     box-shadow: 0 0 15px 0 #00000030;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 calc(20px + 5vw);
     color: $clr-text-primary;

     .navbar-link,
     .navbar-logo {
          text-decoration: none;
          color: inherit;
          letter-spacing: 1px;
          padding: 0.4rem 0.8rem;
     }

     .navbar-link {
          font-size: 1.2rem;
     }

     .navbar-logo>* {
          font-weight: norma987987l;
          font-variant: small-caps;
     }
}

.section-container {
     height: calc(100vh - #{$navbar-height});
}

.home {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;

     @media (min-width: 1100px) {
          min-height: calc(100vh - #{$navbar-height});
     }

     .moltitudine {
          width: 70%;
          opacity: 0;
          animation: fadein6 5000ms 3000ms forwards;

          @media (max-width: 1400px) {
               width: 85%;
          }

          @media (max-width: 1100px) {
               width: 100%;
          }

          font-size: 0;
          display: grid;
          justify-items: stretch;
          align-items: stretch;
          grid-template-columns: repeat(23, 1fr);
          grid-template-rows: repeat(8, 1fr);
          max-height: 100%;
          box-shadow: 0 0 100px -50px #00000030;

          .moltitudine-item {
               max-width: 100%;
               opacity: 0.3;
          }
     }

     @for $i from 0 through 183 {
          .moltitudine-item:nth-child(#{$i + 1}) {
               grid-column: $i % 23 + 1;
               grid-row: ($i / 23) + 1;
          }
     }
}