@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mfp-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 1;
  -webkit-box-shadow: 0 0 0 500vmax rgba(0, 0, 0, 0.85);
          box-shadow: 0 0 0 500vmax rgba(0, 0, 0, 0.85);
}

.mfp-close {
  font-size: 5.5rem;
  padding: 0 !important;
  height: calc(50px + 4vw);
  font-weight: 500 !important;
  width: calc(50px + 4vw);
  color: white !important;
}

.mfp-img {
  padding: 0 !important;
  max-height: 60vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mfp-arrow::before {
  border-top-width: 30px;
  border-bottom-width: 30px;
  top: -9px;
}

.mfp-arrow::after {
  border-top-width: 21px;
  border-bottom-width: 21px;
  top: 0px;
}

.mfp-arrow-left {
  left: 3vw;
}

.mfp-arrow-left::before {
  border-right: 35px solid #111;
}

.mfp-arrow-left::after {
  border-right: 25px solid #FFF;
}

.mfp-arrow-right {
  right: 3vw;
}

.mfp-arrow-right::after {
  border-left: 25px solid #FFF;
}

.mfp-arrow-right::before {
  border-left: 35px solid #111;
}

.mfp-container {
  padding: 0;
}

.mfp-content {
  text-align: center;
  padding: 0 10px;
}

.mfp-figure {
  margin-left: auto;
  position: relative;
  display: inline-block;
  margin-top: -20px;
}

.mfp-figure::after {
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mfp-custom {
  display: inline-block;
  position: absolute;
  width: 100%;
  min-width: 250px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mfp-custom .mfp-bottom-bar {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f3f3f3;
  text-align: left;
  line-height: normal;
  margin-top: 20px;
  opacity: 0;
  -webkit-animation: fadein 300ms forwards;
          animation: fadein 300ms forwards;
}

.mfp-custom .mfp-bottom-bar .mfp-counter {
  display: none;
}

.mfp-custom .mfp-bottom-bar .mfp-title {
  text-align: center;
  padding: 0;
  color: inherit;
  text-align: inherit;
  line-height: normal;
  font-size: 1.8rem;
}

.mfp-custom .mfp-bottom-bar .mfp-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: inherit;
  height: auto;
  line-height: 1.3em;
  padding-top: 0.2em;
  text-align: inherit;
}

.mfp-custom .mfp-relative {
  position: relative;
}

.mfp-custom .mfp-additional-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: normal;
  color: #f3f3f3;
  width: 100vw;
}

@media (max-width: 900px) {
  .mfp-custom {
    min-width: 95vw;
  }
  .mfp-close {
    font-size: 4rem;
  }
  .mfp-arrow {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0px 55px;
            transform-origin: 0px 55px;
    left: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 0px 55px;
            transform-origin: 0px 55px;
    right: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*****************
1. TOGGLER
2. LOGO
3. NAVLINKS
*****************/
.navbar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: auto;
  height: 60px;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 calc(20px + 5vw);
  color: #666;
  background: #fdfdfc;
  /*************
      TOGGLER
   *************/
  /*************
      LOGO
   *************/
  /*************
      NAVLINKS
   *************/
}

@media (max-width: 1024px) {
  .navbar {
    height: 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 360px) {
  .navbar {
    padding: 0 24px;
  }
}

.navbar__toggler {
  height: 50px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar__toggler > [class*="burger"] {
  pointer-events: none;
  height: 21px;
  width: 30px;
}

@media (max-width: 1024px) {
  .navbar__toggler {
    -webkit-transform: none;
            transform: none;
  }
}

.navbar__logo {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
  font-weight: 600;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.navbar__logo--hidden {
  opacity: 0;
  -webkit-transform: scale(0.9) translateX(-10px);
          transform: scale(0.9) translateX(-10px);
}

@media (orientation: portrait) {
  .navbar__logo {
    white-space: nowrap;
    -webkit-transition-property: font-size, letter-spacing, -webkit-transform;
    transition-property: font-size, letter-spacing, -webkit-transform;
    transition-property: font-size, transform, letter-spacing;
    transition-property: font-size, transform, letter-spacing, -webkit-transform;
    -webkit-transition-duration: 150ms;
            transition-duration: 150ms;
    font-size: 1.1rem;
  }
  .navbar__logo--hidden {
    font-size: 0.4rem;
    letter-spacing: 10px;
    opacity: 1;
  }
}

.navbar__navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 1024px) {
  .navbar__navlinks {
    top: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 600ms;
    transition: -webkit-transform 600ms;
    transition: transform 600ms;
    transition: transform 600ms, -webkit-transform 600ms;
    background: #fdfdfc;
    -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  .navbar__navlinks--collapse {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.navbar__navlinks__link {
  color: #757575;
  letter-spacing: 0.5px;
  margin-left: 0.6rem;
  font-weight: 600;
  border-radius: 12px;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  padding: 0.55rem 1.1rem 0.5rem 1.1rem;
  text-decoration: none;
  display: block;
}

@media (max-width: 1400px) {
  .navbar__navlinks__link {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .navbar__navlinks__link {
    padding: 0.8rem 2rem;
    border-radius: 0;
    margin: 0;
    font-size: 1.1rem;
  }
}

.navbar__navlinks__link.active {
  color: #ffa500;
}

.navbar__navlinks__link:hover {
  opacity: 0.7;
}

.navbar__navlinks__link:focus {
  -webkit-box-shadow: 0 0 5px 0 #ffc34b;
          box-shadow: 0 0 5px 0 #ffc34b;
  outline: none;
  color: #ffa500;
}

@media (max-width: 1024px) {
  .navbar__navlinks__link:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
  }
}

@media (min-width: 1024px) {
  .navbar__navlinks__link[href="#contact"] {
    background: #f5ba2a;
    color: white;
  }
  .navbar__navlinks__link[href="#contact"]:hover {
    opacity: 0.8;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*****************
1. DISCOVER
2. MOLTITUDINE
3. TITLE
*****************/
.home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-collapse: separate;
  height: 47.5vw;
  max-height: calc(100vh - 60px);
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f6f2), to(white));
  background-image: linear-gradient(#f7f6f2, white);
  /******************
		DISCOVER 
	******************/
  /******************
		MOLTITUDINE
	******************/
  /***************
		TITLE 
	***************/
}

@media (max-width: 1024px) {
  .home {
    max-height: calc(100vh - 50px);
  }
}

.home .display {
  -webkit-animation: fadein 8000ms forwards;
          animation: fadein 8000ms forwards;
}

.home .discover {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  max-height: 15vh;
}

@media (max-width: 1100px) {
  .home .discover {
    display: none;
  }
}

@media (min-width: 1100px) {
  .home {
    height: calc(100vh - 60px);
  }
}

.home .moltitudine {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 0;
  width: 80%;
}

@media (max-width: 1680px) {
  .home .moltitudine {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .home .moltitudine {
    width: 100%;
  }
}

.home .moltitudine .line {
  width: 100%;
}

.home .moltitudine .line-container {
  position: relative;
}

.home .moltitudine .squares {
  position: absolute;
  height: 100%;
  width: calc(100%);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .moltitudine .squares .square {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background: white;
  opacity: 0.7;
}

.home .line:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.home .line:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1.04348;
}

.home .line:nth-child(3) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1.08696;
}

.home .line:nth-child(4) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1.13043;
}

.home .line:nth-child(5) {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1.17391;
}

.home .line:nth-child(6) {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1.21739;
}

.home .line:nth-child(7) {
  -ms-grid-column: 7;
  grid-column: 7;
  -ms-grid-row: 1;
  grid-row: 1.26087;
}

.home .line:nth-child(8) {
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row: 1;
  grid-row: 1.30435;
}

.home .line:nth-child(9) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1.34783;
}

.home .home-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #555;
}

.home .home-title__plain-text {
  opacity: 0;
}

.home .home-title svg {
  max-width: 100%;
  fill: transparent;
}

.home .home-title svg path {
  stroke-width: 0.5px;
  stroke: transparent;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .home .home-title svg {
    fill: currentColor;
  }
}

.home .home-title div:nth-child(1) {
  width: 100%;
  padding: 0 35vw 0 22vw;
  margin-bottom: 1vw;
}

@media (max-width: 1400px) {
  .home .home-title div:nth-child(1) {
    padding: 0 30vw 0 20vw;
  }
}

@media (max-width: 1100px) {
  .home .home-title div:nth-child(1) {
    padding: 0;
    width: 60%;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .home .home-title div:nth-child(1) {
    padding: 0;
    width: 70%;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .home .home-title div:nth-child(1) {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .home .home-title div:nth-child(1) {
    width: 88%;
  }
}

.home .home-title div:nth-child(1) path:nth-child(1) {
  -webkit-animation: fillin 3000ms 1100ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6045ms infinite;
          animation: fillin 3000ms 1100ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6045ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(2) {
  -webkit-animation: fillin 3000ms 1200ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6090ms infinite;
          animation: fillin 3000ms 1200ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6090ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(3) {
  -webkit-animation: fillin 3000ms 1300ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6135ms infinite;
          animation: fillin 3000ms 1300ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6135ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(4) {
  -webkit-animation: fillin 3000ms 1400ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6180ms infinite;
          animation: fillin 3000ms 1400ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6180ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(5) {
  -webkit-animation: fillin 3000ms 1500ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6225ms infinite;
          animation: fillin 3000ms 1500ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6225ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(6) {
  -webkit-animation: fillin 3000ms 1600ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6270ms infinite;
          animation: fillin 3000ms 1600ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6270ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(7) {
  -webkit-animation: fillin 3000ms 1700ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6315ms infinite;
          animation: fillin 3000ms 1700ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6315ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(8) {
  -webkit-animation: fillin 3000ms 1800ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6360ms infinite;
          animation: fillin 3000ms 1800ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6360ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(9) {
  -webkit-animation: fillin 3000ms 1900ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6405ms infinite;
          animation: fillin 3000ms 1900ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6405ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(10) {
  -webkit-animation: fillin 3000ms 2000ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6450ms infinite;
          animation: fillin 3000ms 2000ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6450ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(11) {
  -webkit-animation: fillin 3000ms 2100ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6495ms infinite;
          animation: fillin 3000ms 2100ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6495ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(12) {
  -webkit-animation: fillin 3000ms 2200ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6540ms infinite;
          animation: fillin 3000ms 2200ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6540ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(13) {
  -webkit-animation: fillin 3000ms 2300ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6585ms infinite;
          animation: fillin 3000ms 2300ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6585ms infinite;
}

.home .home-title div:nth-child(1) path:nth-child(14) {
  -webkit-animation: fillin 3000ms 2400ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6630ms infinite;
          animation: fillin 3000ms 2400ms forwards, strokein 3000ms 3500ms forwards, shine 10000ms 6630ms infinite;
}

.home .home-title div:nth-child(2) {
  width: 100%;
  margin-top: 5vh;
  padding: 0 28vw 5vh 48vw;
}

@media (max-width: 1400px) {
  .home .home-title div:nth-child(2) {
    padding: 0 28vw 2vw 47vw;
  }
}

@media (max-width: 1100px) {
  .home .home-title div:nth-child(2) {
    padding: 0 0 5vh 0;
    width: 30%;
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .home .home-title div:nth-child(2) {
    position: absolute;
    opacity: 0;
  }
}

.home .home-title div:nth-child(2) path:nth-child(1) {
  -webkit-animation: fillin 3000ms 1590ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6445ms infinite;
          animation: fillin 3000ms 1590ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6445ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(2) {
  -webkit-animation: fillin 3000ms 1680ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6490ms infinite;
          animation: fillin 3000ms 1680ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6490ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(3) {
  -webkit-animation: fillin 3000ms 1770ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6535ms infinite;
          animation: fillin 3000ms 1770ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6535ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(4) {
  -webkit-animation: fillin 3000ms 1860ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6580ms infinite;
          animation: fillin 3000ms 1860ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6580ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(5) {
  -webkit-animation: fillin 3000ms 1950ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6625ms infinite;
          animation: fillin 3000ms 1950ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6625ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(6) {
  -webkit-animation: fillin 3000ms 2040ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6670ms infinite;
          animation: fillin 3000ms 2040ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6670ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(7) {
  -webkit-animation: fillin 3000ms 2130ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6715ms infinite;
          animation: fillin 3000ms 2130ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6715ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(8) {
  -webkit-animation: fillin 3000ms 2220ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6760ms infinite;
          animation: fillin 3000ms 2220ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6760ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(9) {
  -webkit-animation: fillin 3000ms 2310ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6805ms infinite;
          animation: fillin 3000ms 2310ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6805ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(10) {
  -webkit-animation: fillin 3000ms 2400ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6850ms infinite;
          animation: fillin 3000ms 2400ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6850ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(11) {
  -webkit-animation: fillin 3000ms 2490ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6895ms infinite;
          animation: fillin 3000ms 2490ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6895ms infinite;
}

.home .home-title div:nth-child(2) path:nth-child(12) {
  -webkit-animation: fillin 3000ms 2580ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6940ms infinite;
          animation: fillin 3000ms 2580ms forwards, strokein 3000ms 4000ms forwards, shine 10000ms 6940ms infinite;
}

@media (max-width: 768px) {
  .home .home-title div path {
    -webkit-animation-duration: 0ms !important;
            animation-duration: 0ms !important;
    -webkit-animation-delay: 0ms !important;
            animation-delay: 0ms !important;
  }
}

@-webkit-keyframes strokein {
  to {
    stroke: #ddd;
  }
}

@keyframes strokein {
  to {
    stroke: #ddd;
  }
}

@-webkit-keyframes fillin {
  to {
    fill: #555;
  }
}

@keyframes fillin {
  to {
    fill: #555;
  }
}

@-webkit-keyframes shine {
  0% {
    fill: #555;
  }
  5% {
    fill: #888;
  }
  10% {
    fill: #555;
  }
  100% {
    fill: #555;
  }
}

@keyframes shine {
  0% {
    fill: #555;
  }
  5% {
    fill: #888;
  }
  10% {
    fill: #555;
  }
  100% {
    fill: #555;
  }
}

@media (orientation: portrait) {
  .home {
    height: 62vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
  .home .display {
    -webkit-animation-duration: 100ms;
            animation-duration: 100ms;
  }
  .discover {
    display: none;
  }
  .moltitudine {
    height: 100%;
  }
  .moltitudine .line-container .line {
    width: 140vh;
    opacity: 0.35;
  }
  .moltitudine .line-container .squares {
    display: none;
  }
  .home-title {
    display: none !important;
  }
  .home-title__plain-text {
    position: absolute;
    opacity: 1 !important;
    font-size: calc(1.0rem + 6.5vw);
    letter-spacing: 0.5vw;
    font-weight: 400;
    z-index: 10000;
    color: #595959;
    top: calc(50% - 5vw);
    left: 16%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    line-height: calc(1.5rem + 8vw);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*****************
1. Sliders
2. Cards
3. Hover effects
*****************/
.works {
  background: #fbfaf7;
  border-top: 1px solid #f7f6f2;
}

.works .section__title {
  font-size: 3.7rem !important;
}

/****************
      SLIDER
****************/
.works .custom-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33vw;
  width: 66vw;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .works .custom-slider {
    display: none;
  }
}

@media (max-width: 1600px) {
  .works .custom-slider {
    height: 40vw;
    width: 80vw;
  }
}

.works .custom-slider__images {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.works .custom-slider__arrow-right > svg,
.works .custom-slider__arrow-left > svg {
  margin: auto;
}

.works .custom-slider__arrow-right, .works .custom-slider__arrow-left {
  height: 20%;
  width: 15%;
  z-index: 101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  border: none;
  background: none;
}

.works .custom-slider__arrow-right > svg, .works .custom-slider__arrow-left > svg {
  pointer-events: none;
  max-height: 100%;
}

.works .custom-slider__arrow-right:hover, .works .custom-slider__arrow-right:focus, .works .custom-slider__arrow-left:hover, .works .custom-slider__arrow-left:focus {
  color: #ffa500;
  outline: none;
}

.works .custom-slider__arrow-right.disabled, .works .custom-slider__arrow-left.disabled {
  color: #ddd;
}

.works .custom-slider__arrow-right > div, .works .custom-slider__arrow-left > div {
  height: 8vmin;
  width: 100%;
  pointer-events: none;
}

.works .custom-slider .slide-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #777;
  width: 100%;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transition: left 300ms, -webkit-transform 300ms;
  transition: left 300ms, -webkit-transform 300ms;
  transition: transform 300ms, left 300ms;
  transition: transform 300ms, left 300ms, -webkit-transform 300ms;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.works .custom-slider .slide-link.center {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.works .custom-slider .slide-link.center img {
  -webkit-box-shadow: 70px 0 70px -30px rgba(0, 0, 0, 0.1), -70px 0 70px -30px rgba(0, 0, 0, 0.1);
          box-shadow: 70px 0 70px -30px rgba(0, 0, 0, 0.1), -70px 0 70px -30px rgba(0, 0, 0, 0.1);
}

.works .custom-slider .slide-link.right {
  -webkit-transform: translate(55%, -50%);
          transform: translate(55%, -50%);
  opacity: 0;
}

.works .custom-slider .slide-link.left {
  -webkit-transform: translate(-155%, -50%);
          transform: translate(-155%, -50%);
  opacity: 0;
}

.works .custom-slider .slide-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

/****************
   CARDS
****************/
.works .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 0 calc(30px + 2vw);
}

@media (max-width: 1200px) {
  .works .card-container {
    width: 100%;
  }
}

.works .card-link {
  position: relative;
  width: 230px;
  max-width: 270px;
  -webkit-box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #f7f6f1;
  margin: 24px;
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
  color: white;
}

.works .card-link > div {
  padding-top: 100%;
}

.works .card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 63%;
  max-width: 63%;
  opacity: 0.9;
}

.works .card-image__lg {
  max-width: 72%;
}

.works .card-image__ht {
  max-height: 72%;
}

.works .card-image__xl {
  max-width: 80%;
}

.works .card-image__xh {
  max-height: 80%;
}

/****************
   HOVER EFFECTS
****************/
.slide-link > .slide-img {
  -webkit-transition: -webkit-filter 500ms;
  transition: -webkit-filter 500ms;
  transition: filter 500ms;
  transition: filter 500ms, -webkit-filter 500ms;
}

.slide-link:hover > .slide-img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.card-link::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.card-link:hover {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

.card-link:hover::before {
  opacity: 1;
}

.card-link::after,
.slide-link::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  content: url(./assets/lens.svg);
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0.85) translate(-55%, -55%);
          transform: scale(0.85) translate(-55%, -55%);
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, transform 500ms;
  transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
}

.card-link:hover,
.slide-link:hover {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

.card-link:hover::after,
.slide-link:hover::after {
  opacity: 1;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

@media (max-width: 660px) {
  .works .card-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .works .card-link {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 230px;
    max-width: 55vw;
    margin: 5vw;
  }
  .works .card-link:last-child::before {
    position: absolute;
    content: "";
    width: calc(30px + 15vw + 100%);
    left: 0;
    top: 0;
    height: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
  font-family: "Raleway", sans-serif;
  overflow: auto;
  position: relative;
  z-index: -3;
  background: #fbfaf7;
}

a:focus {
  outline: none;
}

.section-container {
  position: relative;
  z-index: -2;
  height: calc(100vh - 60px);
}

section:not(.home) {
  min-height: 50vh;
}

.section__title {
  color: #666;
  text-align: center;
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 3.2rem;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

@media (max-width: 992px) {
  .section__title {
    letter-spacing: 0.2rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
  }
}

@media (orientation: portrait) {
  .section__title {
    width: 100%;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    text-align: left;
    letter-spacing: 0.1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: calc(4vw + 1rem) !important;
  }
}
