@import "./variables.scss";


.card {
    &-container {
        @include flex-center;
        flex-wrap: wrap;
    }

    &__link {
        position: relative;
        width: 250px;
        max-width: 270px;
        box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.4);
        flex-grow: 1;
        background: $card-bg;
        margin: 15px;
        transition: box-shadow 500ms;
        color: white;

        &>div {
            padding-top: 100%;
        }
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 63%;
        max-width: 63%;
        opacity: 1;

        &--lg {
            max-width: 72%
        }

        &--ht {
            max-height: 72%
        }

        &--xl {
            max-width: 80%
        }

        &--xh {
            max-height: 80%
        }
    }
}

@media (max-width: 663px) {
    .card__link {
        flex-shrink: 0;
        width: 200px;
    }
}

@media (max-width: 598.8px) {
    .card {
        &-container {
            justify-content: flex-start;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;

            .card__link:first-child {
                margin-left: 2em;
            }
        }

        &__link {
            flex-shrink: 0;
            width: 230px;
            max-width: 55vw;
            margin: 5vw;



            &:last-child::before {
                position: absolute;
                content: "";
                width: calc(30px + 15vw + 100%);
                left: 0;
                top: 0;
                height: 100%;
            }
        }
    }
}